[Unit]
Description=copy_trigger_Unix Socket Server
After=network.target

[Service]
ExecStart=/usr/local/bin/copy_trigger_server.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target