[Unit]
Description=Monitor SSH Server for Idle Connections
After=network.target sshd.service
BindsTo=sshd.service  # Stop this service when sshd.service stops

[Service]
ExecStart=/usr/local/bin/monitor_sshd.sh
Restart=on-failure
KillMode=process  # Ensures it fully stops
Type=simple

[Install]
WantedBy=multi-user.target
